.nav {
  display: flex;
  list-style: none;
}

.nav__item {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;

  &--logged {
    text-decoration: none;
    color: $nav-text-color;
  }

  &--icon {
    width: 35px;
    height: 40px;
    font-size: 0;
    cursor: pointer;
  }

  &--settings {
    background: url("../img/icon-settings.png");
  }

  &--logout {
    background: url("../img/icon-logout.png");
  }
}